<mat-form-field appearance="standard" style="font-size: .825rem;" [ngStyle]="{ 'width': '230px'	}">
  <mat-label class="input-label" style="padding: 0px; color: #a6a6a6;">{{ variationType }}</mat-label>
  <mat-select (selectionChange)="doSomething()" [value]="element.multiVariationData?.currentVariations[variationType]"
    style="font-size: 1.1rem">
    <mat-option *ngFor="let dropdownItem of getItemVariations(element.multiVariationData?.variations, variationType)"
      [value]="dropdownItem">
      {{ dropdownItem }}</mat-option>
  </mat-select>
</mat-form-field>