<mat-form-field appearance="standard" style="font-size: .825rem; width: 275px;">
  <mat-label class="input-label" style="padding: 0px; color: #a6a6a6;">{{ variationType }}</mat-label>
  <mat-select (selectionChange)="doSomething()" [value]="defaultSkuId" style="font-size: 1.1rem">

    <mat-option [value]="item.sku" *ngFor="let item of dropdownItems">
      {{ item[variationType] }} - {{item.sku}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="list-group">
  <div class="list-group-item" [ngClass]="{'active': defaultSkuId === item.sku}" *ngFor="let item of dropdownItems"
    style="height: 48px;">
    <div class="row">
      <div class="col-2" *ngIf="variationType === 'color' && defaultSkuId !== item.sku">
        <img [src]="'https://beaconproplus.com/images/large/' + item.sku + '_default_swatch.jpg'" [alt]="item.sku">
      </div>
      <div class="col-7">
        {{ item[variationType] }}
      </div>
      <div class="col-2">
        {{ item.sku}}
      </div>
    </div>
  </div>
</div>