<div class="row">
  <div class="col-12">
    <h4>Account Name - Account Id</h4>
  </div>
  <div class="col-1">
    <img src="https://beaconproplus.com/images/large/735300_default_thumb.jpg" style="width: 80px;" alt="">
    <div>#{{details?.itemNumber}}</div>
  </div>
  <div class="col-11">
    <div class="row">
      <div class="col-12">Nickname: {{details?.nickName}}</div>
      <div class="col-12">{{details?.itemOrProductDescription}}</div>
      <div class="col-4" *ngFor="let item of ['big', 'small']">
        <app-variation-group></app-variation-group>
      </div>
    </div>
  </div>
</div>