<div class="container" style="padding-bottom: 30px;">
  <div class="row">
    <div class="col-12">
      <h4>{{account.accountName}} - {{account.accountId}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-1 mb-3">
      <button mat-raised-button color="primary" routerLink="/account/templates">
        <mat-icon>arrow_back</mat-icon>Templates</button>
    </div>

    <mat-divider></mat-divider>

    <div class="col-1 mt-3" style="text-align: center;">
      <img [src]="'https://beaconproplus.com' + details.imageUrl.thumbnail" style="width: 80px;" alt="">
      <div>#{{details?.itemNumber}}</div>
    </div>
    <!--  -->
    <div class="col-11 mt-3">
      <div class="row">
        <div class="col-12" style="color: lightgrey">Nickname: {{details?.nickName}}</div>
        <div class="col-12" style="color: #025f9e; font-size: 1rem;">{{details?.itemOrProductDescription}}</div>
        <app-variation-group [element]="details.multiVariationData"></app-variation-group>
      </div>
    </div>
  </div>
</div>