<!-- As a link -->
<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav> -->

<!-- As a heading -->
<div class="container-fluid">
  <div class="row col-md-12">
    <nav class="col-md-12 navbar navbar-light bg-light mb-5">
      <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-9">Template Details:</div>
      </div>
    </nav>
  </div>
</div>
<!-- <button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu> -->