<!-- <p>home works!</p> -->

<div class="container-fluid">

  <!-- MFG -->
  <section class="row">

    <!-- IMG -->
    <div class="col-md-1">
      <img src="" alt="" width="80" height="80">
    </div>

    <div class="col-auto">
      <label for="">MFG: </label>
      <div class="dropdown">
        <button style="width: 270px" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{mfgSelLabel || 'Select MFG'}}
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let item of mfgs">
            <a *ngIf="true" class="dropdown-item" (click)="setSkuDisplay(item)">{{item[0]}}</a>
            <a *ngIf="false" class="dropdown-item" (click)="setSkuDisplay(item)" style="background-color: #ea920e;">
              {{item[0]}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- COLOR -->
    <div class="col-auto">
      <label for="">Color: </label>
      <div class="dropdown">
        <button style="width: 270px" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{colSelLabel || 'Select Color'}}
        </button>
        <ul class="dropdown-menu">
          <li name="colSelLabel" [(ngModel)]="colSelLabel" *ngFor="let item of colors">
            <a class="dropdown-item" (click)="setSkuDisplayColor(item)">{{item[0]}}</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- skuDisplays -->
  <div class="row mt-3">
    <div class="col-md-12">
      <div [ngClass]="{'alert-success': matches.length}" class="alert alert-secondary" role="alert">
        <!-- Mfg Skus -->
        <h4> <b>Selected MFG Skus:</b>
          <div>{{ mfgSelection[0] }}</div>
          <p *ngFor="let item of skuDisplay" style="display: inline; padding: 4px 4px;">
            <span *ngIf="!highlightMatch(item)"> {{item}} |</span>
            <mark *ngIf="highlightMatch(item)">{{item}} |</mark>
          </p>
        </h4>
        <hr>
        <!-- Color Skus -->
        <h4> <b>Selected COLOR Skus:</b>
          <div style="color: #6b5b3f">{{ colorSelection[0] }}</div>
          <p *ngFor="let item of skuDisplayColor">
            <span *ngIf="!highlightMatch(item)"> {{item}} |</span>
            <mark *ngIf="highlightMatch(item)">{{item}} |</mark>
          </p>
        </h4>
      </div>
    </div>
  </div>
</div>