small {
  display: none;
}

table {
  width: 100%;
}

.mat-column-product {
  width: 8%
}

.mat-column-qty {
  // width: 5%
  padding: 0px 10px 0px 10px
}

.mat-raised-button.mat-primary {
  background: #025f9e;
}