<div class="row" style="margin: 30px 0 30px 0; display: inline-block;">
	<div class="col-md-12">
		<h1 class="mb-2"
			style="font-size: 2em; color: #025f9e; font-size: 2.25em; font-weight: bold; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
			Variations Exercise:</h1>
	</div>
	<!--  -->
	<div class="col"> <mat-divider></mat-divider></div>

	<!-- TABLE -->
	<div class="col-md-12" style="text-transform: uppercase;">
		<div class="row mt-3">
			<div class="col-md-12 mt-1 mb-1">
				<table mat-table [dataSource]="[sampleDataSrc1?.templateItems[targetItemNumber]]" class="mat-elevation-z8;"
					style="width: 100%">
					<!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

					<!-- Avail Skus dropdown -->
					<ng-container matColumnDef="details">
						<th mat-header-cell *matHeaderCellDef>
							<span class="p-3 pb-0 pt-0">
								<mat-form-field appearance="fill">
									<mat-label> Available Skus</mat-label>
									<mat-select #sel id="sel" value="" (selectionChange)="handleDropdown(sel.value)">
										<mat-option *ngFor="let i of this.sampleDataSrc1.templateItems" [value]="i.itemNumber">
											{{i.itemNumber}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</span>
						</th>
						<!-- DESC -->
						<td mat-cell *matCellDef="let element">
							<div class="row">
								<div class="col-1" style="text-align: center">
									<img width="100%" style="padding-top: 15px;"
										[src]="'https://static.becn.com/insecure/plain/images/large/' + element.itemNumber + '_default_small.jpg'"
										[alt]="element.itemNumber">
									<div>#{{element.itemNumber}}</div>
								</div>
								<h3 class="col-md-9 mt-3 mb-0" style="padding-left: 0; font-size: 1.5rem;">
									{{ element.itemOrProductDescription }}
								</h3>

								<!-- VARIATIONS -->
								<div class="col-3"
									*ngFor="let variationType of element.multiVariationData?.allVariationTypes; let i = index">
									<mat-form-field appearance="standard" style="font-size: .825rem;" [ngStyle]="{ 'width': '306px'	}">
										<mat-label class="input-label" style="padding: 0px; color: #a6a6a6;">{{ variationType }}</mat-label>
										<mat-select (selectionChange)="doSomething($event, element, variationType)"
											[value]="element.multiVariationData?.currentVariations[variationType]" style="font-size: 1.1rem">
											<mat-option
												*ngFor="let dd of getItemVariations(element.multiVariationData?.variations, variationType)"
												[value]="dd">
												{{ dd  }}</mat-option>
										</mat-select>
									</mat-form-field>

									<!--  -->
									<!-- RESULT -->
									<div class="row mt-3" style="height: auto; margin-bottom: 20px;">
										<!-- Headers -->
										<div class="col-12">
											<ul class="list-group">
												<li class="list-group-item" style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; background: black; height: 48px;
													padding-top: 13px;">
													<div class="row">
														<div class="col-3" style="color: orange">
															{{variationType}}
														</div>
														<div class="col-3 offset-4" style="color: orange;">
															{{element.itemNumber}}
														</div>
													</div>
												</li>
											</ul>
											<!--  -->
											<ul class="list-group" style="height: 444px; overflow-y: scroll"> <!-- items -->
												<li class="list-group-item" *ngFor="let item of buildDropDownsQuick2(
							sampleDataSrc1?.templateItems[targetItemNumber].multiVariationData?.variations, variationType)"
													[ngStyle]="{background: item.sku === element.itemNumber ? 'black' : ''}"
													style="height: 60px; border-radius: 0; padding-top: 10px;">
													<div class="row" [id]="variationType === 'color' ? 'col-line-item' : ''">
														<div class="col-7">
															<div [ngStyle]="{color: item.sku === element.itemNumber ? 'orange' : 'black'}">
																{{item[variationType]}}
															</div>
														</div>
														<div class="col-3"
															[ngStyle]="{color: item.sku === element.itemNumber ? 'orange' : 'black'}">
															{{item.sku}}
														</div>
														<!-- thumbnail -->
														<div class="col-2" *ngIf="variationType === 'color'"><img
																[src]="'https://beaconproplus.com/images/large/' + item.sku + '_default_swatch.jpg'"
																alt=""></div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="[ 'details']"></tr>
					<tr mat-row *matRowDef="let row; columns: [ 'details'];">
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>