<div class="container-fluid">

	<!-- skuDisplays -->
	<div class="row mt-3" *ngIf="false">
		<div class="col-md-12">
			<div [ngClass]="{'alert-success': matches.length}" class="alert alert-secondary" role="alert">
				<!-- Mfg Skus -->
				<h4> Selected MFG Skus: <span style="color: #6b5b3f">{{ mfgSelection[0] }}</span>
					<br>
					<div *ngFor="let item of selectedMFG" style="display: inline; padding: 4px 4px;">
						<span *ngIf="!highlightMatch(item)"> {{item}} |</span>
						<mark *ngIf="highlightMatch(item)">{{item}} |</mark>
					</div>
				</h4>

				<hr>
				<!-- Color Skus -->
				<h4>
					Selected COLOR Skus: <span style="color: #6b5b3f">{{ colorSelection[0] }}</span>
					<div *ngFor="let item of skuDisplayColor">
						<span *ngIf="!highlightMatch(item)"> {{item}} |</span>
						<mark *ngIf="highlightMatch(item)">{{item}} |</mark>
					</div>
				</h4>
			</div>
		</div>
	</div>


	<!-- Show All Skus -->
	<div class="row mt-3" *ngIf="false">
		<div class="col-md-12">
			<div [ngClass]="{'alert-success': matches.length}" class="alert alert-secondary" role="alert">
				<!-- Mfg Skus -->
				<h4 class="mb-3"> <b>({{ allMatches.length }}) Matching MFG Skus: <span
							style="color: #6b5b3f">{{ mfgSelection[0] }}</span></b> <input type="checkbox"
						*ngIf="false; else checkbox">
					<!--  <p *ngFor="let item of allMatches" style="display: inline; padding: 4px 4px;">
            <span *ngIf="!highlightMatch(item)"> {{item}} |</span>
            <mark *ngIf="highlightMatch(item)">{{item}} |</mark>
          </p> -->
				</h4>
				<div *ngFor="let item of allMatches">
					<h4 class="mb-1">
						{{item[0]}}
					</h4>

					<ng-container *ngFor="let sku of item[1]">
						<button *ngIf="hasSku(sku, item[1])" class="btn btn-sm btn-outline-dark"
							style="margin: 2px 4px 4px 0px; min-width: 80px;">
							<!--  <span *ngIf="!highlightMatch(sku)"> {{sku}} |</span>
              <mark *ngIf="highlightMatch(sku)">{{sku}} |</mark> -->
							{{sku}}
							<br>

							<img *ngIf="showTiles | async" style="border-radius: 6px; width: 60px; height: 60px"
								[src]="'https://static.becn.com/insecure/plain/images/large/' + sku + '_default_small.jpg'"
								class="img-rounded" [alt]="sku">
						</button>
					</ng-container>
					<hr>
				</div>
				<!-- Color Skus -->
				<!-- <h4> <b>Selected COLOR Skus:</b>
          <div style="color: #6b5b3f">{{ colorSelection[0] }}</div>
          <p *ngFor="let item of skuDisplayColor">
            <span *ngIf="!highlightMatch(item)"> {{item}} |</span>
            <mark *ngIf="highlightMatch(item)">{{item}} |</mark>
          </p>
        </h4> -->
			</div>
		</div>
	</div>
</div>


<div class="container mt-5">
	<div class="row my-3">

		<div class="col-md-3">

		</div>
		<div class="col-md-9">
			<h1 class="mb-2"
				style="font-size: 2em; color: #025f9e; font-size: 2.25em; font-weight: bold; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
				Template Details:</h1>
			<!--  -->
			<div class="col mb-3"> <mat-divider></mat-divider></div>

			<!-- CTAS -->
			<div style="text-align:center">
				<div class="row" style="margin: auto; width: 45vw">
					<div class="col-md-auto"><button mat-raised-button color="secondary" disabled>Save All</button></div>
					<div class="col-md-auto"><button mat-raised-button color="primary" (click)="openDialog()">ADD
							Product</button></div>
					<div class="col-md-auto"><button mat-raised-button color="primary">ADD Items to Cart</button></div>
					<div class="col-md-auto"><button mat-raised-button color="light">Clear Quantity</button></div>
					<div class="col-md-auto"><button mat-raised-button color="light">Copy Quote</button></div>
				</div>
			</div>
		</div>

		<!-- SIDEMENU -->
		<div class="col-md-3 mt-4">
			<ul class="list-group">
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">account_circle</mat-icon> My
						Profile</span>
				</li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">lock</mat-icon> Change
						Password</span></li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">bookmark</mat-icon>Address
						Book</span>
				</li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">supervisor_account</mat-icon>
						Accounts</span></li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">list</mat-icon> Order
						History</span></li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">attach_money</mat-icon>
						Quotes</span></li>
				<li class="list-group-item" style="background: #ececec"> <span><mat-icon
							style="color: #025f9ed1">check_circle</mat-icon> Templates</span>
				</li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">format_align_justify</mat-icon>
						Save
						Orders</span></li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">access_time</mat-icon> Pending
						Orders</span>
				</li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">supervisor_account</mat-icon> User
						Administration</span>
				</li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">location_searching</mat-icon>
						Delivery
						Tracking</span>
				</li>
				<li class="list-group-item"><span><mat-icon style="color: #025f9ed1">logout</mat-icon> Logout</span>
				</li>
			</ul>
		</div>

		<!-- PAGE Title -->
		<div class="col-md-9" style="text-transform: uppercase;">

			<div class="row mt-3">

				<!-- TABLE -->
				<div class="col-md-12 mt-1 mb-5">
					<table mat-table [dataSource]="sampleDataSrc1?.templateItems" class="mat-elevation-z8">
						<!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

						<!-- Select Column -->
						<ng-container matColumnDef="select">
							<th mat-header-cell *matHeaderCellDef> </th>
							<td mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox> </td>
						</ng-container>

						<!-- Product Column -->
						<ng-container matColumnDef="product">
							<th mat-header-cell *matHeaderCellDef style="text-align: center"> Product </th>
							<td mat-cell *matCellDef="let element" style="text-align: center">
								<div style="font-size: .75rem;">{{element.itemNumber}}</div>
								<img width="71"
									[src]="'https://static.becn.com/insecure/plain/images/large/' + element.itemNumber + '_default_small.jpg'"
									[alt]="element.itemNumber">
							</td>
						</ng-container>

						<!-- DETAILS Column -->
						<ng-container matColumnDef="details">
							<th mat-header-cell *matHeaderCellDef> Details </th>
							<td mat-cell *matCellDef="let element">
								<div class="row">
									<!-- NICKNAME -->
									<form class="col-md-3 mt-2" style="width: auto;">
										<mat-form-field style="width: 138px;">
											<mat-label style="text-transform: capitalize">Nickname</mat-label>
											<input matInput [value]="element.nickname || ''">
										</mat-form-field>
									</form>
									<h3 class="col-md-12 mb-1">{{ element.itemOrProductDescription}}</h3>

									<!-- VARIATIONS -->
									<div class="col-auto my-2"
										*ngFor="let variationType of element.multiVariationData?.allVariationTypes; let i = index">
										<div class="cell medium-shrink">
											<mat-form-field appearance="standard" style="font-size: .825rem; width: 122px"
												[ngStyle]="{ 'width': sizeInput(variationType)	}">
												<mat-label class="input-label"
													style="padding: 0px; color: #a6a6a6;">{{ variationType }}</mat-label>
												<mat-select (selectionChange)="doSomething($event, element, variationType)"
													[value]="element.multiVariationData?.currentVariations[variationType]">
													<mat-option
														*ngFor="let dd of getItemVariations(element.multiVariationData?.variations, variationType)"
														[value]="dd">
														{{ dd  }}</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
								</div>
							</td>
						</ng-container>

						<!-- Price Column -->
						<ng-container matColumnDef="price">
							<th mat-header-cell *matHeaderCellDef> Price </th>
							<td mat-cell *matCellDef="let element"> {{element.unitPrice | currency }} /
								{{element.unitOfMeasure}}
							</td>
						</ng-container>

						<!-- Qty Column -->
						<ng-container matColumnDef="qty">
							<th mat-header-cell *matHeaderCellDef> Qty </th>
							<td mat-cell *matCellDef="let element">
								<form>
									<mat-form-field style="width: 50px">
										<input type="number" min="1" max="999" matInput [value]="element.quantity ">
									</mat-form-field>
								</form>
							</td>
						</ng-container>

						<!-- Delete Column -->
						<ng-container matColumnDef="del">
							<th mat-header-cell *matHeaderCellDef> </th>
							<td mat-cell *matCellDef="let element"> <mat-icon style="color: #025f9e">delete</mat-icon>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="['select','product', 'details', 'price', 'qty', 'del' ]"></tr>
						<tr mat-row *matRowDef="let row; columns: ['select','product', 'details', 'price', 'qty', 'del' ];">
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- TEMPLATES -->
<ng-template #checkbox>
	<div class="form-check">
		<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="toggleShowTiles()">
		<label class="form-check-label" for="flexCheckChecked">
			Show tiles
		</label>
	</div>
</ng-template>

<ng-template #VariationUI>
	<div style="display: inline-block">
		<!-- MFG -->
		<section class="row">

			<!-- IMG -->

			<div class="col-auto my-2">
				<!--  <label for="">MFG: </label> -->
				<div class="dropdown">
					<button style="width: auto; font-size: .825rem; border: solid thin #e0dede"
						class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						{{mfgSelLabel || mfgs[0][0]}}
					</button>
					<ul class="dropdown-menu">
						<li *ngFor="let item of mfgs">
							<a *ngIf="item.hasOwnProperty('active')" class="dropdown-item" (click)="setSkuDisplayMFG(item)"
								style="cursor: pointer; background-color: #fff; font-size: .825rem;">{{item[0]}}
								<span *ngFor="let imgSku of item[1]" class="tip mx-1" data-bs-toggle="tooltip" data-bs-placement="top"
									data-bs-title="Tooltip on top">
									<img width="18"
										[src]="'https://static.becn.com/insecure/plain/images/large/' + imgSku + '_default_small.jpg'"
										alt="">
									<!--  <small class="_tip">Tip here...</small> -->
								</span>
							</a>
							<a *ngIf="!item.hasOwnProperty('active')"
								[ngStyle]="{'opacity': !item.hasOwnProperty('active') ? .25 : 1 }" class="dropdown-item"
								(click)="setSkuDisplayMFG(item)"
								style="cursor: pointer; background-color: #ececeb; font-size: .825rem;">
								{{item[0]}}
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- COLOR -->
			<div class="col-auto my-2">
				<!--  <label for="">Color: </label> -->
				<div class="dropdown">
					<button style="width: auto; font-size: .825rem; border: solid thin #e0dede"
						class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						{{colSelLabel || colors[0][0] }}
					</button>
					<ul class="dropdown-menu">
						<li name="colSelLabel" [(ngModel)]="colSelLabel" *ngFor="let item of colors">
							<a class="dropdown-item" (click)="[setSkuDisplayColor(item), handleColorChange(item)]">{{item[0]}}</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</ng-template>