<mat-accordion *ngIf="product !== null">
  <!--   <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel> -->
  <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState" (closed)="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title style="width: 100%"></mat-panel-title>
      <mat-panel-description class="row">
        <!--  Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-md-1" style="cursor: pointer">
        <mat-icon (click)="clearProductDisplay()"> arrow_back</mat-icon>
      </div>
      <div class="col-md-auto">
        <span> Back to Products</span>
      </div>
      <div class="col-md-auto">
        <button mat-button mat-raised-button color="primary" style="background: orange">
          {{product.productId}} - Select Product
        </button>
      </div>
      <div class="col-md-12 my-1">
        <h2 class="mb-0" [innerHtml]="product.productName"></h2>
      </div>
      <div class="col-md-12 mt-1">
        <div class="row">
          <div class="col-md-2"> <img width="88" [src]="baseImgUrl + product.productImage" [alt]="product.productId"
              class="img-responsive">
          </div>
          <div class="col-md-10">
            <img *ngFor="let prod of [1,2,3,4,5,6,7,8,9,]" width="44"
              [src]="baseSwatchUrl + product.skuList[0].swatchImage" [alt]="'C'" class="mx-1 my-1">
          </div>
        </div>
      </div>
      <!--  {{product.brand}} - {{product.productId}} -->
      <!--    <div class="offset-md-3 col-md-3 my-3">
          <button mat-button mat-raised-button color="secondary"
            style="text-transform: uppercase; font-size: .75rem; background: orange; color: #fff">
            Select Product</button>
        </div> -->
    </div>

    <!-- TABLE COMPONENT -->

    <table mat-table [dataSource]="data" class="mat-elevation-z8 my-3" style="width: 100%">
      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      <!-- Column -->
      <ng-container *ngFor="let head of headers | async" [matColumnDef]="head">
        <th mat-header-cell *matHeaderCellDef style="text-transform: capitalize;">z

          {{head}}
        </th>
        <td mat-cell *matCellDef="let element" class="cell">
          <span *ngIf="head === 'sku'">{{element?.sku}}</span>
          <span *ngIf="head === 'color'">{{element?.color}}</span>
          <span *ngIf="head === 'size'">{{element?.size}}</span>
        </td>
      </ng-container>

      <!-- Name Column -->
      <!--    <ng-container matColumnDef="color">
         <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns | async"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns | async;"></tr>
    </table>


    <p [innerHtml]="product.longDesc"></p>

  </mat-expansion-panel>
</mat-accordion>